@font-face {
  font-family: "Times";
  src: url("../css/fonts/Times-RomanTimes.woff") format("woff");
}
@font-face {
  font-family: "Favorit";
  src: url("../css/fonts/Favorit_Light.woff") format("woff");
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../css/fonts/HelveticaNeue.woff") format("woff");
}
.cormorant {
  font-family: "Cormorant", serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.helvetica-font {
  font-family: "HelveticaNeue";
}

.favorit-font {
  font-family: "Favorit";
}

.times-font {
  font-family: "Times";
}

sup {
  top: -0.7em;
  font-size: 60%;
  line-height: 1;
}

.small {
  font-size: 0.625rem;
  line-height: 1.2;
}

form input[type=submit] {
  outline: 0;
  border: 0;
  background-color: transparent;
  line-height: 2;
  background-image: linear-gradient(to right, currentColor 50%, transparent 50%);
  background-position: 0 2em;
  background-repeat: repeat-x;
  background-size: 4px 1px;
  font-size: 1.875rem;
}
@media screen and (min-width: 48.0625rem) {
  form input[type=submit] {
    font-size: 1.5rem;
    border-bottom: 1px solid currentColor;
    background-image: none;
  }
}

.work-links a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-family: "Favorit";
}
.work-links a.underline {
  line-height: 2;
  background-image: linear-gradient(to right, currentColor 50%, transparent 50%);
  background-position: 0 2em;
  background-repeat: repeat-x;
  background-size: 4px 1px;
}
.work-links a.underline:focus {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  outline: 0;
}
.work-links a.underline svg, .work-links a.underline span {
  display: inline-block;
  vertical-align: middle;
}
.work-links a.underline svg, .work-links a.underline img {
  margin-right: 0.4rem;
  width: 15px;
  height: auto;
  display: inline-block;
  margin-bottom: 0;
}
.work-links a.underline span {
  background-repeat: no-repeat;
  background-position: left center;
}
.work-links a.underline.peach svg g, .work-links a.underline.peach svg g path {
  stroke: #e7e6dd;
}
.work-links a.underline.dark svg g, .work-links a.underline.dark svg g path {
  stroke: #191A26;
}
@media screen and (min-width: 48.0625rem) {
  .work-links a {
    font-size: 1.5rem;
  }
  .work-links a.underline {
    background-image: none;
    border-bottom: 1px solid currentColor;
  }
}

.body-copy, p {
  font-size: 1.5rem;
  font-family: "Cormorant", serif;
  font-weight: 100;
  line-height: 1.4;
  text-align: center;
  max-width: 58.6875rem;
  margin: 0 auto 2rem;
}
@media screen and (min-width: 48.0625rem) {
  .body-copy, p {
    font-size: 3.75rem;
    line-height: 1.4;
  }
}

h1, h2, h3, h4 {
  font-weight: 100;
  margin-top: 0;
}

h1.heading, h2.heading, h3.heading, h4.heading, a.heading, p.heading {
  font-family: "Cormorant", serif;
  font-size: 1.5rem;
  line-height: 1.4;
}
h1.heading .underline, h2.heading .underline, h3.heading .underline, h4.heading .underline, a.heading .underline, p.heading .underline {
  background-position: 0 3.6875rem;
}
@media screen and (min-width: 48.0625rem) {
  h1.heading, h2.heading, h3.heading, h4.heading, a.heading, p.heading {
    font-size: 1.875rem;
  }
}

.code-panel .heading, .code-panel .body-copy, .code-panel a, .code-panel form input[type=submit] {
  color: #e7e6dd;
}

.music-panel .heading, .music-panel .body-copy, .music-panel a, .music-panel form input[type=submit] {
  color: #191A26;
}

.link-copy {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in, opacity 0.4s ease;
}
.link-copy:hover {
  background-size: 100% 88%;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: center;
  height: 100px;
  position: fixed;
  width: 100%;
  mix-blend-mode: exclusion;
  z-index: 4;
}
header .logo {
  margin: 0 auto;
  padding: 0;
  backface-visibility: hidden;
  opacity: 1;
}
header .logo a {
  transition: background-size 0.25s ease-in;
  display: block;
  height: 0;
  padding-bottom: 13.25%;
  position: relative;
  width: 260px;
  top: 1rem;
}
header .logo a svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header .logo a svg path {
  fill: #fff;
  stroke: #fff;
  stroke-width: 0;
  transition: all 0.3s;
}

.home-fill {
  display: flex;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.home-fill.home-loaded {
  opacity: 1;
}
.home-fill .music,
.home-fill .code {
  flex: 50%;
  height: 100%;
  transition: flex 0.8s ease, background-color 0.4s ease;
  box-sizing: border-box;
  z-index: 1;
}
@media screen and (min-width: 48.0625rem) {
  .home-fill .music,
.home-fill .code {
    padding-bottom: 1.6rem;
  }
}
.home-fill .music:hover,
.home-fill .code:hover {
  flex: 55%;
}
.home-fill .music > a,
.home-fill .code > a {
  height: 100%;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  width: 100%;
}
.home-fill .music > a .link-copy,
.home-fill .code > a .link-copy {
  position: absolute;
  bottom: 15vh;
}
@media screen and (min-width: 48.0625rem) {
  .home-fill .music > a .link-copy,
.home-fill .code > a .link-copy {
    bottom: 1vh;
  }
}
.home-fill .music {
  background-color: #e7e6dd;
}
.home-fill .music > a {
  cursor: pointer;
  color: #191A26;
}
.home-fill .music > a .link-copy {
  left: 4vw;
}
.home-fill .code {
  background-color: #191A26;
}
.home-fill .code > a {
  color: #e7e6dd;
}
.home-fill .code > a .link-copy {
  right: 4vw;
}

.code-fill header, .music-fill header {
  mix-blend-mode: unset;
}
.code-fill .logo a, .music-fill .logo a {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.code-fill .logo a:hover, .music-fill .logo a:hover {
  background-size: 100% 88%;
}
.code-fill .link-copy, .music-fill .link-copy {
  background-size: 100% 0;
}

.music-fill header .logo a svg path {
  fill: #191A26;
  stroke: #191A26;
}
.music-fill .home-fill .intro-copy, .music-fill .home-fill a {
  color: #191A26;
}
.music-fill .home-fill .music {
  flex: 100%;
  position: relative;
}
.music-fill .home-fill .music > a .link-copy {
  left: 50%;
  transform: translateX(-50%);
}
.music-fill .home-fill .code {
  flex: 0%;
  background-color: #e7e6dd;
}
.music-fill .home-fill .code a .link-copy {
  opacity: 0;
}

.code-fill .home-fill .intro-copy, .code-fill .home-fill a {
  color: #e7e6dd;
}
.code-fill .home-fill .code {
  flex: 100%;
  position: relative;
}
.code-fill .home-fill .code > a .link-copy {
  right: 50%;
  transform: translateX(50%);
}
.code-fill .home-fill .music {
  flex: 0%;
}
.code-fill .home-fill .music a .link-copy {
  opacity: 0;
}

.revealed-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.revealed-panel.top {
  z-index: 2;
}

.mwa-carousel {
  opacity: 0;
  transition: opacity 0.4s ease 1s;
}
.mwa-carousel.slick-initialized {
  opacity: 1;
}

.intro-copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 82%;
  max-width: 50rem;
  text-align: left;
}
.intro-copy h3 {
  font-size: 2.5rem;
}
.intro-copy img {
  width: 9px;
  max-height: 12px;
  display: inline-block;
}
.intro-copy img#writing {
  width: 4px;
}
.intro-copy img.trombone {
  width: 10px;
}
.intro-copy img.acoustic {
  max-height: 12px;
}
.intro-copy ul {
  margin: 0 0 1.8rem 0;
  padding: 0;
}
.intro-copy ul li {
  margin-bottom: 0.75rem;
}
.intro-copy ul li a {
  font-size: 1.2rem;
}
.intro-copy ul li ul, .intro-copy ul li ul li {
  display: inline-block;
}
.intro-copy ul li ul li {
  margin: 0 0 0 0.15rem;
}
.intro-copy p, .intro-copy .small {
  text-align: left;
}

.mwa-carousel,
.slick-list,
.slick-track {
  height: 100%;
}

.slick-slide {
  position: relative;
}
.slick-slide > img, .slick-slide .slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 82%;
  max-width: 50rem;
  text-align: center;
}
.slick-slide .intro-copy {
  margin: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.slick-slide.slick-active .intro-copy {
  opacity: 1;
}
.slick-slide .slide-content .heading {
  margin-bottom: 1rem;
}
.slick-slide .slide-content img, .slick-slide .slide-content video {
  margin-bottom: 1rem;
}
.slick-slide .slide-content video {
  max-width: 100%;
}
.slick-slide .slide-content .work-links a:first-child {
  margin-right: 1rem;
}

.slick-prev, .slick-next {
  top: initial;
  bottom: 13vh;
}
.slick-prev svg, .slick-next svg {
  width: 60%;
}
@media screen and (min-width: 48.0625rem) {
  .slick-prev svg, .slick-next svg {
    width: 100%;
  }
}
@media screen and (min-width: 48.0625rem) {
  .slick-prev, .slick-next {
    bottom: 2vh;
  }
}

.slick-next {
  right: 2rem;
}
.slick-prev {
  left: 2rem;
}
.code-carousel .slick-prev path, .code-carousel .slick-next path {
  fill: #e7e6dd;
}

.music-carousel .slick-prev path, .music-carousel .slick-next path {
  fill: #191A26;
}

.slick-arrow {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 2.75rem;
  width: 4.226625rem;
  opacity: 1;
  z-index: 10;
}
.slick-arrow:before {
  content: "";
}
.slick-arrow.slick-disabled {
  background-image: none;
  opacity: 0;
}

#branding {
  background-color: #e7e6dd;
  min-height: 100vh;
  padding: 20vh 2vw 40vh;
}
#branding a {
  color: #191A26;
  margin-bottom: 2rem;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  margin-bottom: 1rem;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#shows .intro-copy {
  position: initial;
  transform: none;
  margin: 6rem auto 0;
}

#videos {
  overflow: auto;
}
#videos .intro-copy {
  position: initial;
  transform: none;
  margin: 6rem auto 0;
}

/*# sourceMappingURL=style-mwa.css.map */
