$peach: #e7e6dd;
$midnight: #191A26;
$french: french;
$small-max: 48rem;
$large-min: 48.0625rem;

@import 'mwa-branding';

.code-panel {
    .heading, .body-copy, a, form input[type="submit"] {
        color: $peach;
    }
}

.music-panel {
    .heading, .body-copy, a, form input[type="submit"] {
        color: $midnight;
    }
}

.link-copy {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in, opacity .4s ease;

    &:hover {
        background-size: 100% 88%;
    }
}
img {
    max-width: 100%;
}
header {
    display: flex;
    justify-content: center;
    height: 100px;
    position: fixed;
    width: 100%;
    mix-blend-mode: exclusion;
    z-index: 4;
    .logo {
        margin: 0 auto;
        padding: 0;
        backface-visibility: hidden;
        opacity: 1;
        a {
            transition: background-size 0.25s ease-in;
            display: block;
            height: 0;
            padding-bottom: 13.25%;
            position: relative;
            width: 260px;
            top: 1rem;
            svg {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                path {
                    fill: #fff;
                    stroke: #fff;
                    stroke-width: 0;
                    transition: all .3s;
                }
            }
        }
    }
}

.home-fill {
    //height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    &.home-loaded {
        opacity: 1;
    }
    .music,
    .code {
        flex: 50%;
        height: 100%;
        transition: flex .8s ease, background-color .4s ease;
        box-sizing: border-box;
        z-index: 1;
        @media screen and (min-width: $large-min) {
            padding-bottom: 1.6rem;
        }
        &:hover {
            flex: 55%;
        }
        > a {
            height: 100%;
            display: inline-block;
            vertical-align: bottom;
            position: relative;
            font-weight: 600;
            font-size: 2rem;
            text-decoration: none;
            width: 100%;
            .link-copy {
                position: absolute;
                bottom: 15vh;
                @media screen and (min-width: $large-min) {
                    bottom: 1vh;
                }
            }
        }
    }

    .music {
        background-color: $peach;
        
        > a {
            cursor: pointer;
            color: $midnight;
            .link-copy {
                left: 4vw;
            }
        }
    }

    .code {
        background-color: $midnight;
        
        > a {
            color: $peach;
            //text-align: right;
            .link-copy {
                right: 4vw;
            }
        }
    }
    
}
.code-fill, .music-fill {
    header {
        mix-blend-mode: unset;
    }
    .logo {
        a {
            background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
            background-repeat: no-repeat;
            background-size: 100% 0.3em;
            background-position: 0 88%;
            transition: background-size 0.25s ease-in;
            &:hover {
                background-size: 100% 88%;
            }
        }
    }
    .link-copy {
        background-size: 100% 0;
    }
}
.music-fill {
    header .logo a svg path {
        fill: $midnight;
        stroke: $midnight;
    }
    .home-fill {
        .intro-copy, a {
            color: $midnight;
        }
        .music {
            flex: 100%;
            position: relative;
            > a .link-copy {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    
        .code {
            flex: 0%;
            background-color: $peach;
            a .link-copy {
                opacity: 0;
            }
        }
    }
    
}
.code-fill {
    .home-fill {
        .intro-copy, a {
            color: $peach;
        }
        .code {
            flex: 100%;
            position: relative;
            > a .link-copy {
                right: 50%;
                transform: translateX(50%);
            }
        }
    
        .music {
            flex: 0%;
            a .link-copy {
                opacity: 0;
            }
        }
    }
    
}
.revealed-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &.top {
        z-index: 2;
        
    }
}

.mwa-carousel {
    opacity: 0;
    transition: opacity .4s ease 1s;
    &.slick-initialized {
        opacity: 1;
    }
}
.intro-copy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82%;
    max-width: 50rem;
    text-align: left;
    h3 {
        font-size: 2.5rem;
    }
    img {
        width: 9px;
        max-height: 12px;
        display: inline-block;
        margin: 0 .125rem;
        &#writing {
            width: 4px;
        }
        &.trombone {
            width: 10px;
        }
        &.acoustic {
            max-height: 12px;
        }
    }
    ul {
        margin: 0 0 1.8rem 0;
        padding: 0;
        li  {
            margin-bottom: .75rem;
            a {
                font-size: 1.2rem;
                
            }
            img {
                margin: 0 0 0 .15rem;
            }
        }
    }
    p, .small {
        text-align: left;
    }
}
.mwa-carousel,
.slick-list,
.slick-track {
    height: 100%;
}
.slick-slide {
    position: relative;
    > img, .slide-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 82%;
        max-width: 50rem;
        text-align: center;
    }
    .intro-copy {
        //text-align: center;
        margin: 0;
        opacity: 0;
        transition: opacity .4s ease;
    }
    &.slick-active {
        .intro-copy {
            opacity: 1;
        }
    }
    .slide-content {
        .heading {
            margin-bottom: 1rem;
        }
        img, video {
            margin-bottom: 1rem;
        }
        video {
            max-width: 100%;
        }
        .work-links {
            a {
                &:first-child {
                    margin-right: 1rem;
                }
            }
        }
    }
}
.slick-prev, .slick-next {
    //display: none;
    top: initial;
    bottom: 13vh;
    svg {
        width: 60%;
        @media screen and (min-width: $large-min) {
            width: 100%;
        }
    }
    @media screen and (min-width: $large-min) {
        bottom: 2vh;
    }
}

.slick-next {
    right: 2rem;
    @media screen and (max-width: $small-max) {
        //top: 90%;
    }
}
.slick-prev {
    left: 2rem;
    @media screen and (max-width: $small-max) {
        //top: 90%;
    }
}

.code-carousel {
    .slick-prev, .slick-next {
        path {
            fill: $peach;
        }
    }
}

.music-carousel {
    .slick-prev, .slick-next {
        path {
            fill: $midnight;
        }
    }

}

.slick-arrow {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 2.75rem;
    width: 4.226625rem;
    opacity: 1;
    z-index: 10;
    &:before {
        content: '';
    }
    &.slick-disabled {
        background-image: none;
        opacity: 0;
    }
}

#branding {
    background-color: $peach;
    min-height: 100vh;
    padding: 20vh 2vw 40vh;
    a {
        color: $midnight;
        margin-bottom: 2rem;
    }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	//padding-top: 25px;
    height: 0;
    margin-bottom: 1rem;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#shows {
    .intro-copy {
        position: initial;
        transform: none;
        margin: 6rem auto 0;
    }
}
#videos {
    overflow: auto;
    .intro-copy {
        position: initial;
        transform: none;
        margin: 6rem auto 0;
    }
}
